body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    
}

/* Logo */

.logo {
    position: relative;
    display: inline-block;
    margin-left: 70px;
    top: 40px; 
}

.logo-image {
    width: 350px; 
    height: 150px;
    
}

/* Brand Name and Moto */

.fashion {
    position: absolute;
    top: 45px; 
    left: 435px; 
    text-align: left; 
    color: black; 
    padding: 1px;
        
}

.brand-name {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.motto {
    font-size: 25px;
    margin: 0;
    
}

/* Login */
.header {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 50px; 
    padding: 20px;    
}
  
.login-section,
.cart-section {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}
  
.login-word {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: black;

}
  
.login-image {
    width: 40px;
    height: 40px;
}

.cart-word {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: black;
}
  
.cart-image {
    width: 40px;
    height: 40px;
}

/* Container */
.login-container {
    width: 400px;
    background: white;
    padding: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
        
}

/* Title */
.login-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    color: #000;
}

/* Divider */
.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Form */
.login-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.form-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    outline: none;
    width: 100%;
}

.form-input:focus {
    border-color: #555;
}

/* Password Container */
.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Button */
.login-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #555;
}

/* Signup Link */
.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
 
